@inject NavigationManager navigate

<button @onclick="GoToHome" class="btn btn-outline-primary home-button">
    TM Mobiles LTD
</button>


@code {
    private void GoToHome()
    {
        navigate.NavigateTo("");
    }
}
