.container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: center;

}

a {
    text-decoration: none;
}

    a:hover .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: box-shadow 0.3s ease-in-out;
    }

.card {
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
}

a:hover img {
    transform: scale(1.07);
    transition: 0.5s ease-in-out;
}

img {
    transition: 0.5s ease-in-out;
}

.media-img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
}

/*    .media-img:hover {
        transform: scale(1.5);
    }

.media-img-wrapper {
    width: 200px;
    text-align: center;
}

.page-selection {
    margin-right: 10px;
    margin-bottom: 10px;
}

.media {
    display: flex;
    align-items: flex-start;
}

.media-body {
    flex: 1;
}

@media (max-width: 1024.98px) {
    .media {
        flex-direction: column;
    }

    .media-img-wrapper {
        width: 100%;
        height: auto;
    }
}
*/